In [ ]:
Ethan McCaskey

Each Question is worth 1 point

In [2]:
import numpy as np

1. Create a 3x3 matrix of zeros stored in a variable named zeros and print zeros

In [3]:
zeros = np.zeros((3, 3))
print(zeros)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

2. Create an array of 10 .1's stored in a variable named tenths and print tenths

In [4]:
tenths = np.full(10, 0.1)
print(tenths)

[0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1]

3. Create an array of the odd number integers from 1 to 15 in a variable named odds and print odds

In [6]:
odds = np.arange(1, 16, 2)
print(odds)

[ 1  3  5  7  9 11 13 15]

4. Create a 6x6 matrix with values ranging from 1 to 36 in a variable named sixBySix and print sixBySix

In [8]:
# assuming in order
sixBySix = np.arange(1, 37).reshape(6, 6)
print(sixBySix)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]
 [25 26 27 28 29 30]
 [31 32 33 34 35 36]]

5. Create a 3x3 identity matrix in a variable named identity and print identity

In [11]:
identity = np.eye(3)
print(identity)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

6. Create an array of 20 rand integers between 1 and 10 in a variable named twentyRandom and print twentyRandom

In [12]:
twentyRandom = np.random.randint(1, 11, 20)
print(twentyRandom)

[ 8  2  3  2  7  4  2  6  8 10  4  4  9  7 10  3  6  9  2  7]

7. Create an array of 21 lineraly spaced points between 0 and 5 in a variable called spaced print spaced

In [13]:
spaced = np.linspace(0, 5, 21)
print(spaced)

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.   2.25 2.5  2.75 3.   3.25
 3.5  3.75 4.   4.25 4.5  4.75 5.  ]

In [14]:
# The arr array will be used to answer questions 8 through 13
arr = np.arange(1, 51)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

8. Use a slice to print the first five elements in the arr array

In [16]:
first_five_elements = arr[:5]
print(first_five_elements)

[1 2 3 4 5]

9. Use a slice to print the last fifteen elements in the arr array

In [21]:
last_fifteen_elements = arr[-15:]
print(last_fifteen_elements)

[36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

10. Use a slice to print the values from 20 through 30 in the arr array

In [24]:
print(arr[19:30])

[20 21 22 23 24 25 26 27 28 29 30]

11. Print the values that are > 43 in the arr array using conditional selection

In [49]:
# Sometimes I don't really like python, but neet 
print(arr[arr > 43])

[44 45 46 47 48 49 50]

12. Print the values that are <= 12 in the arr array using conditional selection

In [28]:
print(arr[arr <= 12])

[ 1  2  3  4  5  6  7  8  9 10 11 12]

13. Print the sum of the arr array

In [30]:
print(sum(arr))

1275

In [31]:
# The twentyRandom array will be used to answer question 14
twentyRandom = np.random.randint(1,201,20)
print(twentyRandom)

[134  34   8  84 132   7 113 190 173  73 135  78 100 156 153 102  68 194
 138 134]

14. Print the argument of the min value and max value in the twentyRandom array

In [32]:
min_value = np.argmin(twentyRandom)
max_value = np.argmax(twentyRandom)

print(min_value, max_value)

5 17

In [33]:
# The arr_2d array will be used to answer questions 15 and 16
arr_2d = np.array([[5,10,15],[20,25,30],[35,40,45],[50,55,60]])
print(arr_2d)

[[ 5 10 15]
 [20 25 30]
 [35 40 45]
 [50 55 60]]

15. Using single bracket notation get and print 40

In [34]:
num = arr_2d[2, 1]
print(num)

40

16. Using single bracket notation get and print the following chunk from arr_2d:
    [[25 30]
     [40 45]
     [55 60]]

In [39]:
chunk = arr_2d[1:4, 1:3]
print(chunk)

[[25 30]
 [40 45]
 [55 60]]

In [40]:
# The arrOne array will be used to answer questions 17 through 20
arrOne = np.arange(1,11)
print(arrOne)

[ 1  2  3  4  5  6  7  8  9 10]

17. Add three to each of the elements in the arrOne array and print the updated arrOne array. Do not update the arrOne array in memory.

In [42]:
updated_arrOne = np.add(arrOne, 3)
print(updated_arrOne)

[ 4  5  6  7  8  9 10 11 12 13]

18. Calculate and print the square of each element in the arrOne array, make sure and use the appropriate NumPy method to calculate the square. Do not update the arrOne array in memory.

In [43]:
squared_arrOne = np.square(arrOne)
print(squared_arrOne)

[  1   4   9  16  25  36  49  64  81 100]

19. Use broadcasting to change the first four elements in the arrOne array to -999 and print the updated array.

In [46]:
arrOne[:4] = -999
print(arrOne)

[-999 -999 -999 -999    5    6    7    8    9   10]

20. Print out the absolute value of each element in arrOne. Do not update the arrOne array in memory.

In [45]:
arrOne = np.arange(1, 11)
absolute_arr = np.abs(arrOne)
print(absolute_arr)

[ 1  2  3  4  5  6  7  8  9 10]