Ethan McCaskey

In [57]:
import pandas as pd

1. Read the data from the CSV file into a DataFrame and display the first five rows

In [58]:
# Read file root dir 'avocado.csv'
file = 'avocado.csv'
data_frame = pd.read_csv(file)
data_frame.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

2. Check to see if any of the columns have missing values

In [59]:
na_columns = data_frame.isna().sum()
# Check if there is any missing values. 
print('No missing values!' if na_columns.sum() == 0 else 'Missing values!')

No missing values!

3. Display the unique values in the region column, and notice that one of the regions is TotalUS

In [60]:
unique_regions = data_frame['region'].unique()
# Little unpacking, see the unique regions nicely. 
print(f'The unique regions are:\n', *unique_regions, sep="\n- ")

The unique regions are:

- Albany
- Atlanta
- BaltimoreWashington
- Boise
- Boston
- BuffaloRochester
- California
- Charlotte
- Chicago
- CincinnatiDayton
- Columbus
- DallasFtWorth
- Denver
- Detroit
- GrandRapids
- GreatLakes
- HarrisburgScranton
- HartfordSpringfield
- Houston
- Indianapolis
- Jacksonville
- LasVegas
- LosAngeles
- Louisville
- MiamiFtLauderdale
- Midsouth
- Nashville
- NewOrleansMobile
- NewYork
- Northeast
- NorthernNewEngland
- Orlando
- Philadelphia
- PhoenixTucson
- Pittsburgh
- Plains
- Portland
- RaleighGreensboro
- RichmondNorfolk
- Roanoke
- Sacramento
- SanDiego
- SanFrancisco
- Seattle
- SouthCarolina
- SouthCentral
- Southeast
- Spokane
- StLouis
- Syracuse
- Tampa
- TotalUS
- West
- WestTexNewMexico

4. Drop rows that have a region of TotalUS, and then check to see how many rows were dropped

In [61]:
rows_count = data_frame.shape[0]
# Drop the rows that have the region of TotalUS
data_frame = data_frame.drop(data_frame[data_frame['region'] == 'TotalUS'].index)
final_rows_count = data_frame.shape[0]
# Calculate the number of dropped columns.
dropped_count = rows_count - final_rows_count
print(f'Number of dropped: {dropped_count}')

Number of dropped: 338

5. Drop the Unnamed: 0, 4046, 4225, and 4770 columns

In [62]:
# I was confused it's actually called 'Unnamed: 0', haha. 
drop_columns = ['Unnamed: 0', '4046', '4225', '4770']
data_frame.drop(columns=drop_columns, inplace=True)
print('Dropped columns:', *drop_columns, sep='\n- ')

Dropped columns:
- Unnamed: 0
- 4046
- 4225
- 4770

6. Convert the Date column to the DateTime type

In [63]:
# The classic..
data_frame['Date'] = pd.to_datetime(data_frame['Date'])
print('Converted to DateTime type!')

Converted to DateTime type!

7. Check that these changes have been applied to the DataFrame

In [64]:
print("The type is... ", 'The correct type!' if data_frame['Date'].dtype == 'datetime64[ns]' else 'Well that\'s not good!')

The type is...  The correct type!